In [1]:
import json
import numpy as np
import pandas as pd

In [3]:
star = []
reviews = []

#Load business id and its review for each business that's been reviwed
with open('/Users/Maximus/Desktop/W209_DB/yelp_academic_dataset.json') as datafile:
    for i in datafile:
        data = json.loads(i)
        if data['type']=='review':
            reviews.append(data['business_id'])
            star.append(data['stars'])               

print 'done'

done

In [4]:
l = len(star) #size of the data
f_list = ['business_id', 'reviews']
b_rev = pd.DataFrame(0, index=np.arange(l), columns=f_list)  #Created a panda dataframe to hold this
b_rev.iloc[:,0] = reviews
b_rev.iloc[:,1] = star
print b_rev.iloc[:10,:]  #show results

              business_id  reviews
0  wbpbaWBfU54JbjLIDwERQA        5
1  4iTRjN_uAdAb7_YZDVHJdg        5
2  qw5gR8vW7mSOK4VROSwdMA        4
3  81IjU5L-t-QQwsE38C63hQ        4
4  Hnz1_h_D1eHSRtQqHSCZkw        2
5  ZRm8fSEBn8DsSLD4o7T4hQ        4
6  -tphABJRkegXV4Fr1ke4FQ        4
7  kYD1PIXBsyZQXG_AEJB7ew        4
8  Q0t7EEaygJ2hb4uFn79owQ        4
9  fcdjnsgO8Z5LthXUx3y-lA        3

In [5]:
#Use a pivot table in panda to find the average reviews a restaurnat got
table = b_rev.pivot_table(index=['business_id'], columns=['reviews'], values=['reviews'], aggfunc=len)
print table.iloc[0:10,:]  #show the example

reviews                  1   2   3   4   5
business_id
--3iH7ezDwTGn5lolFMdhg NaN NaN   4   5   2
--q0WbTS_Gl55W3bC4zmSA NaN NaN   2 NaN NaN
-0iqnv7MjKrgh7Q7bYRlUQ   5   3  23  61  61
-12AM51qDmENfCtFZEw3pw  10   7   8   6   9
-1Jfl_zix9l1RRWOPmzSEQ   2   7   6   5   1
-1K9xLVS8HnG8n0g7Xq7mQ   5   7  13  28  31
-1siJSW7P3IFqpwv3PU53w NaN   1   1   2   2
-2J-BrHD3noFG0Rnp9g8qA NaN NaN   1   7   2
-2YrXfEi4vuriNgdDq4fFw NaN NaN NaN   5   1
-2sqq2aR1RnlEbv5s9eo-g NaN NaN   1   1 NaN

In [6]:
table = b_rev.pivot_table(index=['reviews'], columns=['business_id'], values=['reviews'], aggfunc=len)
#print table.iloc[0:20,0:10]
writeout = table.fillna(0)  #Filled all the "Nan" with zeros
writeout.to_csv('review_output.txt', sep='\t', index=True)
print 'Done'

Done

# Additional Data Exploration

In [195]:
#print len(reviews.keys()) 
#a = list(reviews.keys())[0:10]  
#print b_rev['--3iH7ezDwTGn5lolFMdhg']

b_rev[b_rev['business_id'] == '--3iH7ezDwTGn5lolFMdhg'].index.tolist()
#if '--3iH7ezDwTGn5lolFMdhg' in reviews:
    #print 'Yes'

[3773,
 10638,
 113826,
 131018,
 131120,
 175734,
 177002,
 185527,
 218837,
 222862,
 272403]

In [128]:
#for key in dct.keys(): print key

#d_data = pd.DataFrame(0, index=np.arange(6391), columns=feature_list)
 
l = len(reviews.keys())     
f_list = ['business_id', 'reviews']
b_rev = pd.DataFrame(0, index=np.arange(l), columns=f_list)

c=0

for i in list(reviews)[0:len(reviews)]:
    b_rev.ix[c,'business_id'] = reviews[i]['business_id'] 
    b_rev.ix[c,'reviews'] =  reviews[i]['stars']        
    c = c + 1   
    
print 'nano'

KeyboardInterrupt:

In [137]:
print c, l
print b_rev.iloc[0:10,:] 
#print type(b_rev.iloc[3,1])
table = pd.pivot_table(b_rev.iloc[0:20,:], values='reviews', index ='business_id', aggfunc='count')

print table

84075 330071
              business_id  reviews
0  wbpbaWBfU54JbjLIDwERQA        5
1  4iTRjN_uAdAb7_YZDVHJdg        5
2  qw5gR8vW7mSOK4VROSwdMA        4
3  81IjU5L-t-QQwsE38C63hQ        4
4  Hnz1_h_D1eHSRtQqHSCZkw        2
5  ZRm8fSEBn8DsSLD4o7T4hQ        4
6  -tphABJRkegXV4Fr1ke4FQ        4
7  kYD1PIXBsyZQXG_AEJB7ew        4
8  Q0t7EEaygJ2hb4uFn79owQ        4
9  fcdjnsgO8Z5LthXUx3y-lA        3
business_id
-tphABJRkegXV4Fr1ke4FQ    1
4iTRjN_uAdAb7_YZDVHJdg    1
81IjU5L-t-QQwsE38C63hQ    1
8sGKlCVtewMuA2RGyfatyg    1
Hnz1_h_D1eHSRtQqHSCZkw    1
JrGSfjRqAtIZjjwC3FFQ4w    2
Q0t7EEaygJ2hb4uFn79owQ    1
V9DXseGJNzLeCxUpMZuUnw    1
XIdmWw-OMx5nhpuTSdxYlQ    1
YMeWjOd1svHDGdDCKoiGgg    1
ZRm8fSEBn8DsSLD4o7T4hQ    1
fcdjnsgO8Z5LthXUx3y-lA    1
jTPr0dFk2JgGYdDiIGro3Q    2
kYD1PIXBsyZQXG_AEJB7ew    1
pTTUqKB3TxaW43ElWl6aOQ    1
piXuRfZ81xFGA64WFJrKkQ    1
qw5gR8vW7mSOK4VROSwdMA    1
wbpbaWBfU54JbjLIDwERQA    1
Name: reviews, dtype: int64

In [133]:
print 'naon'

naon

In [3]:
#6390 total business per schools
import math
import numpy as np
import pandas as pd

c_test = []
for i in list(businesses)[0:len(businesses)-1]:
    for j in range(len(businesses[i]['categories'])):
        c_test.append(businesses[i]['categories'][j].encode('utf8'))

feature_list = ['schools', 'city', 'name', 'review_count']
feature_list =feature_list + list(np.unique(c_test))

d_data = pd.DataFrame(0, index=np.arange(6391), columns=feature_list)

c = 0
#for i in list(businesses)[0:len(businesses)]:
for i in list(businesses)[0:len(businesses)]:
    for j in range(len(businesses[i]['schools'])):
        d_data.ix[c,'city'] = businesses[i]['city']   
        d_data.ix[c,'name'] = businesses[i]['name']
        d_data.ix[c, 'review_count'] = businesses[i]['review_count']
        d_data.ix[c, 'schools'] = businesses[i]['schools'][j] 
        for k in range(len(businesses[i]['categories'])):
            l = feature_list.index(businesses[i]['categories'][k])
            d_data.ix[c,l] = businesses[i]['review_count'] 
        c = c + 1
print d_data.ix[0:10,1:20]

            city               name  review_count  Active Life  Afghan  \
0      Cambridge    Brookline Lunch           185            0       0
1      Cambridge    Brookline Lunch           185            0       0
2           Troy  Notty Pine Tavern             6            0       0
3   Philadelphia      Pitruco Pizza            42            0       0
4      Greenbelt            Wendy's             4            0       0
5        Houston      Ben & Jerry's            12            0       0
6      Champaign   Papa Del's Pizza           140            0       0
7         Austin           7 Eleven             9            0       0
8       New York       Elsabet Cafe            13            0       0
9      Lafayette        TGI Fridays             7            0       0
10      La Jolla      Cafe Ventanas            17            0       0

    African  American (New)  American (Traditional)  Antiques  Appliances  \
0         0               0                       0         0           0
1         0               0                       0         0           0
2         0               0                       0         0           0
3         0               0                       0         0           0
4         0               0                       0         0           0
5         0               0                       0         0           0
6         0               0                       0         0           0
7         0               0                       0         0           0
8         0               0                      13         0           0
9         0               7                       0         0           0
10        0               0                       0         0           0

    Arcades  Argentine  Art Galleries  Arts & Entertainment  Asian Fusion  \
0         0          0              0                     0             0
1         0          0              0                     0             0
2         0          0              0                     0             0
3         0          0              0                     0             0
4         0          0              0                     0             0
5         0          0              0                     0             0
6         0          0              0                     0             0
7         0          0              0                     0             0
8         0          0              0                     0             0
9         0          0              0                     0             0
10        0          0              0                     0             0

    Automotive  Bagels  Bakeries  Barbeque
0            0       0         0         0
1            0       0         0         0
2            0       0         0         0
3            0       0         0         0
4            0       0         0         0
5            0       0         0         0
6            0       0         0         0
7            0       0         0         0
8            0       0         0         0
9            0       0         0         0
10           0       0         0         0

In [3]:
#Upload a list of categories to exclude
text_file = open("/Users/Maximus/Desktop/W209_DB/remove.txt", "r")
lines = text_file.readlines()
word = []
for i in lines:
    word.append(i.strip())

In [4]:
campus_key = {
'umich': 'University of Michigan - Ann Arbor',
'penn': 'University of Pennsylvania',
'harvard': 'Harvard University',
'cal': 'University of California at Berkeley',
'umass': 'University of Massachusetts - Amherst',
'vt': 'Virginia Tech',
'unc': 'University of North Carolina - Chapel Hill',
'uw': 'University of Washington',
'utt': 'University of Texas - Austin',
'usc': 'University of Southern California',
'ucla': 'University of California - Los Angeles',
'ucsd': 'University of California - San Diego',
'ill': 'University of Illinois - Urbana-Champaign',
'purdue': 'Purdue University',
'princeton': 'Princeton University',
'mit': 'Massachusetts Institute of Technology',
'harveymudd': 'Harvey Mudd College',
'stanford': 'Stanford University',
'carnegie': 'Carnegie Mellon University',
'columbia': 'Columbia University',
'cornell': 'Cornell University',
'gt': 'Georgia Institute of Technology',
'rice': 'Rice University',
'rensselaer': 'Rensselaer Polytechnic Institute',
'brown': 'Brown University',
'caltech': 'California Institute of Technology',
'cp': 'California Polytechnic State University',
'maryland': 'University of Maryland - College Park',
'waterloo': 'University of Waterloo'}

campus_name = {}
for key, value in campus_key.iteritems():
    campus_name[value] = key

In [5]:
#Necessary step
#Aggregate...find the average rating per category
new_feature_list =['schools'] + list(np.unique(c_test))
meta_data = pd.DataFrame(0, index=np.arange(30), columns=new_feature_list)
sch =  d_data.ix[:,0].unique()
meta_data.ix[0:28, 0] = sch[0:29]

c = 0
for i in sch:
    k = 0
    for j in new_feature_list[1:]:
        t = d_data.ix[(d_data['schools'] == i) & d_data[j]<>0, [j]].mean()[0]
        if math.isnan(t):
            meta_data.ix[c, k+1] = 0
        else: meta_data.ix[c, k+1] = t
        k = k + 1
    c = c + 1

print len(meta_data.iloc[0,:])

212

In [7]:
new_col = []

    #new_col.append(meta_data.iloc[i,0].encode('utf8'))  #School names
    #new_col.append(meta_data.iloc[i,0].encode('utf8')+('_count'))

for i in range(29):
    new_col.append( campus_name[meta_data.iloc[i,0]] )
    new_col.append( campus_name[meta_data.iloc[i,0]] + ('_count'))

a_size = 30
final_data  = pd.DataFrame(0, index=np.arange(a_size), columns=new_col)
output_data = pd.DataFrame(0, index=np.arange(10), columns=new_col)
#Final data is the result frame

for i in range(29):
    a = np.array(meta_data.ix[i,1:])
    loc = list(a.argsort()[-a_size:][::-1])
    loc = map(lambda x: x + 1, loc)
    final_data.iloc[:,i*2] = list(meta_data.columns.values[loc])  #Upload column names
    final_data.iloc[:,i*2+1] = list(meta_data.ix[i,loc])
    #print meta_data.ix[i,loc]

#Create another dataframe; move the data input it only if it was in the list
#print final_data
#print final_data['penn']

for i in range(29):
    k = 0
    for count, item in enumerate(final_data.iloc[:,i*2]):
        if (item not in word) and (k < 10):
            output_data.iloc[k, i*2  ] = item 
            output_data.iloc[k, i*2+1] = final_data.iloc[count, i*2+1]
            k = k +1
        elif k == 10:    #As soon as an error, will break out the loop
            break
#print output_data['cal']
writeout = output_data
writeout.to_csv('d3_data.txt', sep='\t', index=False)

In [7]:
#Top food categories for each school
for i in range(29):
    #print meta_data.ix[i,0]
    a = np.array(meta_data.ix[i,1:])
    loc = list(a.argsort()[-10:][::-1])
    loc = map(lambda x: x + 1, loc)
    print meta_data.ix[i,loc]

Cajun/Creole                  969
Tex-Mex                       969
Southern                      675
Desserts                      339
Burgers                   299.667
French                    276.333
Irish                         248
Breweries                 243.667
Juice Bars & Smoothies        243
African                       219
Name: 0, dtype: object
Cajun/Creole                  969
Tex-Mex                       969
Southern                      675
Desserts                      339
Burgers                   299.667
French                    276.333
Irish                         248
Breweries                 243.667
Juice Bars & Smoothies        243
African                       219
Name: 1, dtype: object
Mediterranean       43
Sushi Bars          41
Lounges             32
Hot Dogs            29
Mexican             29
Indian            28.2
Middle Eastern      27
Vegan               27
Desserts            27
Japanese          26.5
Name: 2, dtype: object
Buffets              199
Tex-Mex              171
Gastropubs           156
Pubs                 143
Nightlife          136.5
Bars               136.5
Asian Fusion         119
Mexican          114.714
Mediterranean        106
Thai                95.5
Name: 3, dtype: object
Vegan           101
Breweries       100
Delis            69
Bagels           69
Ethiopian        69
Halal            61
Diners           54
Indian         53.4
Pubs             53
Sports Bars      48
Name: 4, dtype: object
Asian Fusion                  179
Food Stands                   179
Korean                        179
Lounges                       154
Indian                        153
Breakfast & Brunch        151.667
Chocolatiers and Shops        141
Basque                        124
Tapas Bars                    124
Spanish                       124
Name: 5, dtype: object
Basque                    109
Spanish                   109
Sushi Bars                 97
Barbeque              86.3333
Asian Fusion          63.6667
Breakfast & Brunch         60
Cajun/Creole               58
Lounges                    57
Gelato                     47
Creperies                  47
Name: 6, dtype: object
Indian                      505
Music Venues                403
Diners                      271
Nightlife                 270.5
Bars                    226.333
Tex-Mex                 209.333
Arts & Entertainment        205
British                     195
Brazilian                   195
Pubs                        195
Name: 7, dtype: object
Bagels         387
Thai           285
Southern       223
Cuban          219
Creperies      203
German         161
Bakeries       151
Soul Food      130
Diners       114.5
Burgers        107
Name: 8, dtype: object
Korean              49
French              39
Bistros             39
Irish               38
Pubs                38
Tapas Bars          25
Sushi Bars          25
Diners              21
Middle Eastern      21
Japanese          20.5
Name: 9, dtype: object
Steakhouses        366
Wine Bars          343
Russian            209
Seafood            209
Nightlife          184
Bars               184
Pizza          154.333
Japanese           132
Sushi Bars         132
Thai               127
Name: 10, dtype: object
Tex-Mex               125
Cajun/Creole          125
Ethiopian             117
Tapas/Small Plates    113
Cafes                 113
Greek                  87
Burgers                85
Creperies              81
Indian                 73
Pubs                   69
Name: 11, dtype: object
Hot Dogs                  129
Breweries                  73
Breakfast & Brunch    68.5556
Southern                   65
Asian Fusion             62.5
Bakeries                   61
Vegetarian                 59
Burgers               57.6667
Indian                     55
American (New)        53.6667
Name: 12, dtype: object
Soup                        849
Vegan                       451
Donuts                      313
Burgers                     278
Thai                    275.667
Arts & Entertainment        269
Music Venues                269
American (New)              257
Vegetarian                  229
Korean                  213.667
Name: 13, dtype: object
Wine Bars                        541
Peruvian                         379
Breakfast & Brunch               229
Caterers                         199
Event Planning & Services        199
Italian                        135.8
Bars                           129.4
Nightlife                      129.4
Indian                       112.333
Food Delivery Services            89
Name: 14, dtype: object
Breweries                        217
Wine Bars                        173
Pubs                              84
Gluten-Free                       73
Ice Cream & Frozen Yogurt    69.6667
Nightlife                         67
Bars                              67
Sports Bars                       51
American (New)               50.7778
Steakhouses                  48.3333
Name: 15, dtype: object
Hot Dogs                   89
Tapas Bars                 87
Vegetarian            79.6667
Japanese                   73
Korean                   70.5
French                     63
Breakfast & Brunch       57.5
Thai                     47.8
Chinese                 43.25
Creperies                  43
Name: 16, dtype: object
Thai                357
Wine Bars           351
Donuts              341
Lounges             293
Korean              276
Bars            275.667
Nightlife       275.667
Breweries           249
Asian Fusion        240
Pizza             185.8
Name: 17, dtype: object
Indian                      224
Pubs                        201
German                      153
Greek                     119.5
Middle Eastern              119
American (New)              116
Mediterranean               115
Chocolatiers and Shops      109
Candy Stores                109
Vegan                       107
Name: 18, dtype: object
Bakeries             589.8
Desserts               497
Gluten-Free            497
Butcher                193
Seafood Markets        193
Food               155.917
Indian                 155
American (New)     134.455
Vietnamese             131
Sandwiches             122
Name: 19, dtype: object
American (Traditional)    498.333
Barbeque                  432.333
Diners                        151
Breakfast & Brunch            151
Mediterranean               144.5
Seafood                     118.5
Thai                          108
Lounges                       102
American (New)             100.25
Tapas/Small Plates             99
Name: 20, dtype: object
Barbeque                          67
American (Traditional)       57.6667
Mexican                      57.6667
French                            57
Asian Fusion                      44
Breakfast & Brunch                40
Coffee & Tea                 36.3333
Ethnic Food                       34
Event Planning & Services         33
Caterers                          33
Name: 21, dtype: object
Modern European      371
Donuts               333
Soul Food            228
Italian            207.8
Buffets              201
Breweries            162
Seafood              161
Latin American       153
Asian Fusion         144
Dive Bars            141
Name: 22, dtype: object
Tapas Bars          433
Basque              433
Spanish             433
Bars                189
Afghan              187
Jazz & Blues        183
Fondue              183
Thai                171
Lounges             167
Burgers         163.667
Name: 23, dtype: object
Caterers                         187
Delis                            153
Breweries                        152
Barbeque                         129
Pubs                           120.2
Event Planning & Services      115.4
Breakfast & Brunch             108.5
American (New)               94.4286
Seafood                           91
American (Traditional)            86
Name: 24, dtype: object
Vegetarian       67
Vegan            67
Barbeque         35
Greek            33
Pool Halls       29
Mediterranean    27
Delis            23
Indian           21
Sushi Bars       18
Steakhouses      17
Name: 25, dtype: object
Bagels          109
Tapas Bars      101
Shopping         89
Drugstores       89
Vegetarian       64
Sandwiches     53.5
Steakhouses      51
Meat Shops       47
Burgers          45
Lounges          45
Name: 26, dtype: object
Hot Dogs                    879
Mediterranean               567
Greek                       567
Asian Fusion                479
Thai                        413
American (New)          385.667
Bakeries                    383
Lounges                     355
Beer, Wine & Spirits        343
Korean                      335
Name: 27, dtype: object
Pubs                       12
Canadian (New)             11
American (Traditional)      9
Sushi Bars                  9
Bakeries                    8
Bars                      7.8
Nightlife                   7
Thai                        7
Mediterranean               7
Fish & Chips                7
Name: 28, dtype: object

In [ ]:
#Practice Final output
print meta_data.iloc[:,0] # School names

#Load rankings
for i in range(29):
    #print meta_data.ix[i,0]
    a = np.array(meta_data.ix[i,1:])
    loc = list(a.argsort()[-10:][::-1])
    loc = map(lambda x: x + 1, loc)
    print meta_data.ix[i,loc]

#Output
#Sample on how to output result file
#a = meta_data.ix[0,:]
#writeout = pd.DataFrame(0, index=np.arange(300), columns=['Category'])
temp = list(np.unique(c_test))
writeout = pd.DataFrame(temp)

#for i in range(len(temp)):
    #writeout.ix[i] = list(np.unique(c_test))[i]

#print type(meta_data.columns)
writeout.to_csv('Category_names.txt', sep='\t', index=False)
print 'Nano'

In [18]:
print meta_data.iloc[:,0]

0          Massachusetts Institute of Technology
1                             Harvard University
2               Rensselaer Polytechnic Institute
3                     University of Pennsylvania
4          University of Maryland - College Park
5                                Rice University
6      University of Illinois - Urbana-Champaign
7                   University of Texas - Austin
8                            Columbia University
9                              Purdue University
10          University of California - San Diego
11                              Brown University
12    University of North Carolina - Chapel Hill
13          University of California at Berkeley
14             University of Southern California
15                          Princeton University
16                    Carnegie Mellon University
17        University of California - Los Angeles
18                      University of Washington
19                           Stanford University
20       California Polytechnic State University
21         University of Massachusetts - Amherst
22               Georgia Institute of Technology
23                           Harvey Mudd College
24            University of Michigan - Ann Arbor
25                                 Virginia Tech
26                            Cornell University
27            California Institute of Technology
28                        University of Waterloo
29                                             0
Name: schools, dtype: object

In [41]:
print list(meta_data.columns.values)[0:2]

['schools', 'Active Life']

In [14]:
#Sample on how to output result file

#temp = list(np.unique(c_test))
writeout = final_data
writeout.to_csv('Category_namesv3.txt', sep='\t', index=False)
print 'Final version'

Nano

In [12]:
#Sample on how to output result file
#a = meta_data.ix[0,:]
#writeout = pd.DataFrame(0, index=np.arange(300), columns=['Category'])
temp = list(np.unique(c_test))
writeout = pd.DataFrame(temp)

#for i in range(len(temp)):
    #writeout.ix[i] = list(np.unique(c_test))[i]

#print type(meta_data.columns)
writeout.to_csv('Category_names.txt', sep='\t', index=False)
print 'Nano'

Nano